In [1]:
from data import *

# apiData=API('2330')
table=BasicTable('2330')

get single data:  2330 2000-01-01 2023-02-05 TaiwanStockDividend
get single data:  2330 2000-01-01 2023-02-05 TaiwanStockFinancialStatements
get single data:  2330 2000-01-01 2023-02-05 TaiwanStockMonthRevenue
get single data:  2330 2000-01-01 2023-02-05 TaiwanStockPrice

In [2]:
table.revenueTable

           date stock_id country       revenue  revenue_month  revenue_year
0    2002-02-01     2330  Taiwan   12044713000              1          2002
1    2002-03-01     2330  Taiwan   11468227000              2          2002
2    2002-04-01     2330  Taiwan   12276775000              3          2002
3    2002-05-01     2330  Taiwan   13366231000              4          2002
4    2002-06-01     2330  Taiwan   15200909000              5          2002
..          ...      ...     ...           ...            ...           ...
247  2022-09-01     2330  Taiwan  218132391000              8          2022
248  2022-10-01     2330  Taiwan  208247663000              9          2022
249  2022-11-01     2330  Taiwan  210265633000             10          2022
250  2022-12-01     2330  Taiwan  222705993000             11          2022
251  2023-01-01     2330  Taiwan  192560242000             12          2022

[252 rows x 6 columns]